@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #0f172a;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #252e42 1px, transparent 1px),
    linear-gradient(to bottom, #252e42 1px, transparent 1px);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #334155;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 100vh;
    border: 3px solid #9ca3af;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
